html,
body {
    margin: 0;
    height: 100%;
    overflow: auto;
}

body {
    background-color: var(--body-color);
    width: 100%;
    box-sizing: border-box;
    background: url(/assets/img/afternoon_bg.png) no-repeat center 0;
    background-size: cover;
}

.container {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curation_settings {
    display: inline-flex;
    justify-content: flex-start;
    background: hsla(0, 0%, 100%, .12);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1vw;
    width: 70%;
}

.curation_settings .img {
    box-sizing: border-box;
    border: 1px solid hsla(0, 0%, 100%, .08);
    border-radius: 22px;
}

.curation_settings .item {
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 0.2em 0.7em;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.curation_settings .item.last {
    padding-right: 17px;
}

.item .arrow_off {
    display: flex;
    justify-content: center;
    margin-left: 1em;
}


.mt-3px {
    margin-top: 8px;
}

.bar {
    margin-left: 1em;
}

.music_box {
    margin-top: 10px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.music_info_container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.music_info {
    background: hsla(0, 0%, 100%, .16);
    border: 1px solid hsla(0, 0%, 100%, .12);
    box-shadow: 0 8px 12px rgba(0, 0, 0, .08);
    backdrop-filter: blur(30px);
    border-radius: 16px;
    font-size: 16px;
    overflow: hidden;
}

.music_info_header {
    text-align: center;
    padding: 1.1em 0;
    font-size: inherit;
    color: var(--white);
    border-bottom: 1px solid hsla(0, 0%, 100%, .16);
}

.channel_text {
    font-size: 0.6em;
    border-radius: 100px;
    border: 1px solid var(--white);
    padding: 1px 6px;
    line-height: 1em;
    vertical-align: middle;
}

.channel_container {
    width: 28%;
    background: hsla(0, 0%, 100%, .16);
    border: 1px solid hsla(0, 0%, 100%, .12);
    box-shadow: 0 8px 12px rgba(0, 0, 0, .08);
    backdrop-filter: blur(30px);
    border-radius: 16px;
}

.channel_header {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 16px;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    border-bottom: 1px solid hsla(0, 0%, 100%, .16);
}

.current_channel_info {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.current_channel_info>.channel_info {
    display: flex;
    align-items: center;
}

.channel_info_img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid var(--current);
}


.channel_body {
    padding: 20px 20px 16px;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

.recommend_channel_list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.channel_item {
    display: flex;
    align-items: center;
}

.channel_item_logo {
    position: relative;
    margin-right: 10px;
}

.channel_item_img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid hsla(0, 0%, 100%, .4);
}

.channel_category {
    position: absolute;
    bottom: 5px;
    right: 0;
}



.music_info_box {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .16);
}

.prev_music {
    position: absolute;
    top: 30%;
    left: 6%;
}

.prev_music_img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
}


.current_music {
    display: flex;
    justify-content: space-between;
    padding: 1.2em 0;
    font-size: 16px;
    z-index: 1;
    margin-left: 7em;
}

.current_music .music_img {
    width: 240px;
    height: 240px;
    border-radius: 3%;
}

.current_music .current_music_info {
    color: var(--white);
    font-size: 16px;
    position: relative;
    margin-left: 1em;
}

.current_music_info .music_title {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.8;
    margin-top: 1.5em;
}

.current_music_info .singer {
    font-size: 1em;
    line-height: 1;
    margin-top: 0.3em;
}

.current_music_info .select_icon {
    margin-top: 3.2em;
    display: flex;
    justify-content: space-between;
}


.circle {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.circle .icon {
    width: 45%;
    height: 45%;
    z-index: 1;
}

.circle:hover {
    background: rgba(255, 255, 255, 0.16);
}

.next_music {
    position: absolute;
    top: 30%;
    right: -5%;
}

.next_music_img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.music_play_box {
    padding: 16px 0;
    width: 50%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.music_control {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

.music_control .music_control_btn {
    width: 36%;
    height: 36%;
}

.volume_control {
    display: flex;
    align-items: center;
}

.info_container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.info_box {
    background: hsla(0, 0%, 100%, .16);
    border: 1px solid hsla(0, 0%, 100%, .12);
    box-shadow: 0 8px 12px rgba(0, 0, 0, .08);
    backdrop-filter: blur(30px);
    border-radius: 16px;
    padding: 16px;
    width: 44%;
    display: flex;
    line-height: 20px;
    font-size: 14px;
    color: var(--white);
}

.left_box {
    display: flex;
    justify-content: space-between;
}

.right {
    line-height: 26px;
}

.right_box {
    justify-content: space-between;
    display: flex;
}

.info_box_label {
    background: rgba(0, 0, 0, .4);
    border-radius: 100px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 26px;
}

.info_box_label.event {
    width: 33px;
}

.info_box_content {
    margin-left: 5px;
}

.info_box_content.event {
    width: calc(100% - 156px);
    margin-left: 5px;
}

.d_day {
    font-size: 12px;
    background: hsla(0, 0%, 100%, .2);
    border-radius: 100px;
    padding: 0 6px;
    margin-left: 10px;
}

.btn {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.mobile {
    display: none;
}

.muscic_bottom {
    display: none;
}

/* 1200px 이하 */
@media screen and (max-width: 1200px) {

    .curration_box,
    .music_box {
        width: 90vw;
    }

    .curation_settings .item {
        font-size: calc(1vw + 2px);
    }

    .current_music .current_music_info {
        font-size: 13px;
    }

    .current_music .music_img {
        width: 200px;
        height: 200px;
    }

    .info_box_label,
    .d_day,
    .info_box_content {
        font-size: calc(1vw - 2px);
        line-height: 1vw;
        margin-left: 1px;
    }

    .prev_music {
        top: 20%;
    }

    .prev_music_img {
        width: 12vw;
        height: 12vw;
    }

    .current_music .music_img {
        width: 15vw;
        height: 15vw;
    }

    .current_music .current_music_info {
        font-size: 7px;
    }

    .next_music {
        top: 20%;
    }

    .next_music_img {
        width: 12vw;
        height: 12vw;
    }

    .btn {
        width: 1vw;
        height: 1vw;
    }

    .info_box {
        padding: 1vw;
    }

    .channel_header,
    .channel_body {
        font-size: calc(1vw + 1px);
    }

    .channel_info_img,
    .channel_item_img {
        width: calc(1vw * 2);
        height: calc(1vw * 2);
    }

}

/* 768px 이하 */
@media screen and (max-width: 768px) {
    .container {
        align-items: flex-start
    }

    .pc {
        display: none;
    }

    .mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 85px;
        position: relative;
    }

    .m_album_img {
        display: flex;
        justify-content: center;
    }

    .m_album_img .img {
        width: 280px;
        height: 280px;
        border-radius: 8px;
    }

    .m_music_playlist {
        display: flex;
        justify-content: space-between;
        margin-top: calc(1vw + 10px);
        padding: 0 10px;
    }

    .m_music_playlist>.m_music_info {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: calc(1vw + 10px);
        line-height: calc(1vw + 18px);
        color: var(--white);
    }

    .m_music_title {
        font-size: calc(1vw + 12px);
        line-height: calc(1vw + 20px);
        font-weight: 700;
    }

    .m_music_playlist>.like {
        width: 22px;
        display: flex;
        align-items: center;
    }

    .like>.like_img {
        width: 22px;
        height: 22px;
        vertical-align: middle;
    }

    .m_music_playlist>.more {
        background: none;
        border: none;
        width: 22px;
        display: flex;
        align-items: center;
    }

    .m_play_btn {
        display: flex;
        justify-content: center;
        margin-top: calc(1vw + 10px);
    }

    .m_music_control {
        border: none;
        background: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .m_music_control .control_img {
        width: 20px;
        height: 20px;
    }

    .muscic_bottom {
        width: 100%;
        height: 8vh;
        bottom: 0;
        position: absolute;
        background: hsla(0, 0%, 100%, .24);
        backdrop-filter: blur(30px);
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .muscic_bottom .music_center {
        display: flex;
        align-items: center;
        font-size: calc(1vw + 10px);
        color: var(--white);
    }

    .m_channel_text {
        font-size: 0.6em;
        border-radius: 100px;
        border: 1px solid var(--white);
        padding: 3px 6px;
        line-height: 1em;
        vertical-align: middle;
    }

    .music_center .channel_name {
        font-size: calc(1vw + 13px);
        margin-left: 6px;
    }

    .muscic_bottom .bottom_icon {
        display: flex;
        align-items: center;
    }
}