.swiper {
    width: 100%;
    height: 300px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}


.swiper_img {
    width: 300px;
    height: 300px;
}

@media (max-width: 1024px) {
    .swiper_img {
        width: 200px;
        height: 200px;
    }
}