.container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: beige;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 50px;
    display: flex;
}

.nav,
.nav.extend {
    box-sizing: border-box;
    border: 1px solid black;
    /* visibility: hidden; */
    width: 0%;
}

.nav.extend {
    animation: navsize_down .5s cubic-bezier(.7, 0, .84, 0) forwards;
}

.nav.on {
    display: block;
    width: 70%;
    visibility: visible;
    animation: navsize_up .5s cubic-bezier(.7, 0, .84, 0) forwards;
}

@keyframes navsize_up {
    from {
        width: 0%;
    }

    to {
        width: 70%;
    }

}

@keyframes navsize_down {
    from {
        width: 70%;
    }

    to {
        width: 0%;
        visibility: hidden;
    }
}

.music_box {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid blue;

}

.music_box.extend {
    animation: music_boxsize_up .5s cubic-bezier(.7, 0, .84, 0) forwards;
}

.music_box.on {
    width: 30%;
    animation: music_boxsize_down .5s cubic-bezier(.7, 0, .84, 0) forwards;
}

@keyframes music_boxsize_down {
    from {
        width: 100%;
    }

    to {
        width: 30%;
    }
}

@keyframes music_boxsize_up {
    from {
        width: 30%;
    }

    to {
        width: 100%;
    }
}